<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<div class="gif-container">
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWVwejVrem93bWsza2ZjNmR0NWNhZmN0MXZ0OWxzNDNndDA1ank5NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7TKT2PITCEsBkyCk/giphy.gif" alt="Warning Background" class="background-gif">
  
    <div class="content">
        <h1>Warning</h1>
      <h2>Proceed with Caution !</h2>
      <a routerLink="/main" class="continue-button">Continue</a>
    </div>
  </div>
  